h1 {
    margin-top: 35px;
}

.padding-top-special {
    padding-top: calc(50vh - 310px);

    @media screen and (max-height: 650px) {
        padding-top: 20px;
    }

    @media screen and (max-width: 991.9px) {
        padding-top: 20px;
    }

    transition: all 500ms ease;
}

.footer-social {
    color: rgba(255, 255, 255, .8);

    b {
        text-transform: uppercase;
    }

    a {
        color: rgba(255, 255, 255, .8);
        // transition: color 200ms ease;
    }

    // a:hover {
    //     color: $primary;
    // }

    .svg-icon {
        width: 22px;
        height: 22px;
        fill: rgba(255, 255, 255, .8);
        vertical-align: middle;
    }

    .social-media-list {
        a {
            display: inline-block;
            border-radius: 50%;
            padding: 7px;

            &:hover {
                background-color: $primary;
                transition: background-color 200ms ease;
            }
        }

        .facebook {
            background-color: #3b5998;
        }

        .tumblr {
            background-color: #35465c;
        }

        .twitter {
            background-color: #35465c;
        }

        .github {
            background-color: #333;
        }

        .dribbble {
            background-color: #444444;
        }

        .flickr {
            background-color: #0063dc;
        }

        .instagram {
            background-color: #405de6;
        }

        .linkedin {
            background-color: #0077b5;
        }

        .pinterest {
            background-color: #bd081c;
        }

        .youtube {
            background-color: #ff0000;
        }

        .google-plus {
            background-color: #dd4b39;
        }
    }
}

.copyright {
    text-align: center;
}

#noscript-modal {
    position: fixed;
    z-index: 200000;
    padding-top: 100px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    transition: padding-top 100ms ease-out;
    box-sizing: border-box;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    font-display: swap;
}

#noscript-modal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    padding: 40px;
    background: white;
    box-sizing: border-box;
}

#noscript-modal .modal-content h2 {
    color: $primary;
    margin-top: 6px;
    margin-bottom: 36px;
    box-sizing: border-box;
}

#noscript-modal .modal-content a {
    background-color: transparent;
    color: $primary;
    box-sizing: border-box;
    text-decoration: none;
}

.p-0 {
    padding: 0;
}

#home-page-carousel {
    .item {
        figure {
            overflow: hidden;
            padding-top: 180px;
            height: 500px;
            background-size: cover;
            color: #fff;
            text-align: center;

            h2 {
                color: #fff;
            }

            figcaption {
                background: rgba(0, 0, 0, 0.3);
                min-height: 150px;
            }
        }
    }
}

.over-text {
    white-space: pre-line;
}

.inline-block {
    display: inline-block;
}

#blocks {
    .block {
        padding: 10px;

        img {
            max-width: 30%;
            max-height: 100px;
            display: block;
            margin: auto;
            padding: 10px;
        }

        color: #fff;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
        height: 350px;
        text-align: center;

        h3 {
            color: #fff;
        }

        .inner {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            min-width: 50%;
            width: 300px;
            max-width: 90%;

            p {
                text-align: justify;
            }
        }
    }
}

#intro {
    .tel {
        text-transform: uppercase;
    }

    .email {
        text-transform: uppercase;
    }


    margin: 0;
    transition: all 500ms ease;
    background: #fff;
    background: linear-gradient(rgba(#fff, .6), rgba(#fff, .6)),
    $home_image_banner;
    background-size: cover;
    background-position: center center;
}

#intro-logo {
    background-image: $home_image_logo;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center center;
    height: 200px;
    height: calc(100vh - 450px);
    min-height: 200px;
    max-height: 400px;

    @media screen and (max-width: 992px) {
        & {
            height: calc(100vh - 470px);
        }
    }

    @media screen and (max-width: 768px) {
        & {
            height: calc(100vh - 390px);
        }
    }
}

.w-100 {
    width: 100%;
}

#diagonal-message {
    position: fixed;
    right: -100px;
    transform: rotate(45deg);
    padding: 0 100px;
    z-index: 2;
    top: 192px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

    a {
        color: #fff;
        text-transform: none;
    }

    @media (min-width: 992px) {
        top: 42px !important
    }

    @media (max-width: 768px) {
        top: 92px !important;
    }
}

#over-home-section {
    padding: 50px 10px;

    p {
        max-width: 600px;
        margin: auto;
        text-align: justify;
    }
}

#experience-home-section {
    padding: 50px 10px;

    p {
        max-width: 600px;
        margin: auto;
        text-align: justify;
    }
}

#experience,
#projecten {
    img {
        display: inline-block;
        max-height: 60px;
        vertical-align: bottom;
        margin-right: 9px;
    }

    h3 {
        margin-top: 60px;
        font-size: 1.5rem;
    }
}

.btn {
    border: none; // border-radius: 0;
}

.btn-primary {
    background-color: $primary;
}

p::selection {
    background-color: $primary;
    color: #fff;
}

.fit-abs {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}

.experience-image-block {
    position: relative;
    text-align: center;
    color: #fff;
    height: 300px;
    overflow: hidden;

    .bg-image {
        position: absolute;
        background-size: cover;
        transition: all 300ms ease;
    }

    &:hover .bg-image {
        transform: scale(1.1);
    }

    h3 {
        color: #fff;
    }

    figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
        text-shadow: 0 0 4px rgba(0, 0, 0, 1);
        display: block;
        min-height: 100px;
    }
}

.waaier {
    width: 200px;
    max-width: 70%;
    display: block;
    margin: 0 auto;
}

#over-home-section .waaier,
#experience-home-section .waaier {
    margin-top: -16px;
    position: relative;
    z-index: -1;
}

.over-header-image {
    img {

        // logo
        @media screen and (max-width: 992px) {
            height: 100px;
        }
    }
}

.waaier-aligned {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 50%;
    transition: all 200ms ease;
}

footer {
    background-color: $footer_bg;
    background-color: #334046;
    color: rgba(255, 255, 255, .8);

    img {
        // padding: 20px;
        // border-radius: 50%;
        // background: #fff;
        margin: 30px auto;
    }

    * {
        color: rgba(255, 255, 255, .8);
    }

    ul {
        list-style: none;
        padding-left: 0;
        text-transform: uppercase;
    }

    a {
        color: rgba(255, 255, 255, .8);
        text-decoration: none;
    }

    a:hover {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
    }

    h5 {
        text-transform: uppercase;
        font-size: 1.7em;
        color: rgba(255, 255, 255, .8);
    }

    .copyright {
        margin-top: 50px;
    }
}

#contact {
    min-height: 100vh;
    text-align: center;

    .row {
        background-image: linear-gradient(rgba($primary, 0.6), rgba($primary, 0.6)), url('/assets/img/map-xxl.jpg');
        padding-top: 15px;
        padding-bottom: 15px;

        @media screen and (max-width: 3000px) {
            background-image: linear-gradient(rgba($primary, 0.6), rgba($primary, 0.6)), url('/assets/img/map-xl.jpg');
        }

        @media screen and (max-width: 2000px) {
            background-image: linear-gradient(rgba($primary, 0.6), rgba($primary, 0.6)), url('/assets/img/map-lg.jpg');
        }

        @media screen and (max-width: 1300px) {
            background-image: linear-gradient(rgba($primary, 0.6), rgba($primary, 0.6)), url('/assets/img/map-md.jpg');
        }

        background-attachment: fixed;
        background-position: center center;
    }

    .col {
        padding: 50px;

        .contact-block {
            padding: 200px 0;
            border: 1px solid #fff;
            color: #fff;
            transition: transform 200ms ease;

            .fa {
                font-size: 7em;
                display: block;
            }

            &:hover {
                transform: scale(1.1);
            }

            @media screen and (max-width: 768px) {
                padding: 100px 0;
            }
        }
    }

    a.col {
        text-decoration: none;
    }
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.relative {
    position: relative;
}

.or-contact-us-via-social-media {
    .svg-icon {
        width: 20px;
        height: 20px;
        margin: 0 3px;
    }
}

.btn {
    padding: 15px 40px;
    border-radius: 30px;
}

.color-white {
    color: #fff;
}

.btn-white {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 200ms ease;

    &:hover {
        color: #fff;
        background-color: $secondary;
        border-color: $secondary;
    }
}

.container {
    max-width: 100%;
}

.over-top-content {
    background: $secondary;
    background-color: #009b57;
    padding: 50px 0;
    min-height: 425px;
}

.over-panel {
    border: none;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    overflow: hidden;

    img {
        display: block;
        max-height: 140px;
        margin: 10px auto;
        border-radius: 70px;
    }
}

.over-header-image {
    background-size: cover;
    padding-bottom: 100px;
}

.full-viewport-height {
    height: 100vh;
    transition: all 500ms ease;
}

.full-viewport-min-height {
    min-height: 100vh;
    transition: all 500ms ease;
}

.text-justify {
    text-align: justify;
    text-justify: distribute-all-lines;
}

.text-shadow {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

.generic-page {
    p {
        text-align: justify;
        text-justify: distribute-all-lines;
    }
}

.privacyverklaring-generic-page {
    h1 {
        @media screen and (max-width: 1187px) {
            font-size: 4.7rem;
        }
        @media screen and (max-width: 736px) {
            font-size: 4rem;
        }
        @media screen and (max-width: 630px) {
            font-size: 3rem;
        }
        @media screen and (max-width: 480px) {
            font-size: 2rem;
        }
    }
}
