html {
    font-size: 1em;
    overflow-x: hidden;
}

.footer-social {
    color: rgba(255, 255, 255, .5);
    b {
        text-transform: uppercase;
    }
    a {
        color: rgba(255, 255, 255, .5);
        transition: color 200ms ease;
    }
    a:hover {
        color: $primary;
    }
    .svg-icon {
        width: 30px;
        fill: rgba(255, 255, 255, .5);
        ;
        transition: fill 200ms ease;
    }
    .svg-icon:hover {
        fill: $primary;
    }
}

.copyright {
    text-align: center;
}

#noscript-modal {
    position: fixed;
    z-index: 200000;
    padding-top: 100px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    transition: padding-top 100ms ease-out;
    box-sizing: border-box;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

#noscript-modal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    padding: 40px;
    background: white;
    box-sizing: border-box;
}

#noscript-modal .modal-content h2 {
    color: $primary;
    margin-top: 6px;
    margin-bottom: 36px;
    box-sizing: border-box;
}

#noscript-modal .modal-content a {
    background-color: transparent;
    color: $primary;
    box-sizing: border-box;
    text-decoration: none;
}

.p-0 {
    padding: 0;
}

#home-page-carousel {
    .item {
        figure {
            overflow: hidden;
            padding-top: 150px;
            height: 500px;
            background-size: cover;
            color: #fff;
            text-align: center;
            h2 {
                color: #fff;
            }
        }
    }
}

#blocks {
    .block {
        padding: 10px;
        img {
            max-width: 50%;
            max-height: 150px;
            display: block;
            margin: auto;
            transition: transform 200ms ease;
            padding: 10px;
        }
        color: #fff;
        height: 350px;
        text-align: center;
        h3 {
            color: #fff;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
        .inner {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

#intro {
    .tel {
        text-transform: uppercase;
    }
    .email {
        text-transform: uppercase;
    }
    min-height: calc(100vh - 350px);
    background: #fff;
    background: linear-gradient(rgba(#fff, .85), rgba(#fff, .85)),
    url('/assets/img/generic-images/agriculture-animal-black-and-white-cows-325257.jpg');
    background-size: cover;
    .w-100 {
        padding-top: calc(100vh - 775px);
    }
}

#diagonal-message {
    position: fixed;
    right: -100px;
    transform: rotate(45deg);
    background: #3f768a;
    padding: 0 100px;
    z-index: 2;
    top: 192px;
    a {
        color: #fff;
        text-transform: none;
    }
    @media (min-width: 992px) {
        top: 42px !important
    }
    @media (max-width: 768px) {
        top: 92px !important;
    }
}

#over-home-section {
    padding: 50px 10px;
    p {
        max-width: 600px;
        margin: auto;
    }
}

#experience-home-section {
    padding: 50px 10px;
    p {
        max-width: 600px;
        margin: auto;
    }
}

.btn {
    border: none; // border-radius: 0;
}

.btn-primary {
    background-color: $primary;
}

p::selection {
    background-color: $primary;
    color: #fff;
}

.experience-image-block {
    height: 300px;
    padding-top: 100px;
    text-align: center;
    color: #fff;
    h3 {
        color: #fff;
    }
}

footer {
    padding-top: 50px;
    ul {
        list-style: none;
        padding-left: 0;
        text-transform: uppercase;
    }
    a {
        color: rgba(255, 255, 255, .5);
        text-decoration: none;
    }
    a:hover {
        color: rgba(255, 255, 255, .7);
        text-decoration: none;
    }
    h5 {
        text-transform: uppercase;
        font-size: 1.7em;
        color: rgba(255, 255, 255, .5);
    }
    .copyright {
        margin-top: 50px;
    }
}

#contact {
    min-height: 100vh;
    text-align: center;
    .row {
        background: linear-gradient(rgba($primary, 0.5), rgba($primary, 0.5)), url('/assets/img/generic-images/agriculture-bridge-clouds-1368231.jpg');
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .col {
        padding: 50px;
        .contact-block {
            padding: 200px 0;
            border: 1px solid #fff;
            color: #fff;
            transition: transform 200ms ease;
            .fa {
                font-size: 7em;
                display: block;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    a.col {
        text-decoration: none;
    }
}

.sub-page {
    padding: 50px 30px;
}

