#sideNav {
    transition: none;
    box-shadow: 0 0 7.5px 0 rgba(0, 0, 0, .2);
    border: none;
    .navbar-nav .nav-item .nav-link {
        font-weight: 800;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }
    .navbar-toggler {
        &:focus {
            outline-color: lighten($primary, 15%);
        }
    }
    .navbar-brand {
        padding: 5px;
        .img-profile {
            height: 40px;
        }
    }
    .navbar-collapse {
        .navbar-nav {
            padding-right: 20px;
            .nav-item {
                word-break: break-all;
                .nav-link {
                    color:rgba(255, 255, 255, .6);
                }
                .nav-link:hover,
                .nav-link.active {
                    color: rgba(255, 255, 255, 0.9);
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #sideNav {
        transition: padding-top 500ms ease;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: $sidebar-base-width;
        height: 100vh !important;
        // adjust so animation doesn't show white space.
        height: calc(100vh + 1000px) !important; 
        
        .navbar-header {
            float: none;
            margin-top: 0;
        }
        .navbar-brand {
            height: auto;
            float: none;
            display: block;
            .img-profile {
                margin: auto;
                width: 150px;
                height: 150px;
                border: 0.5rem solid fade-out($white, 0.8);
            }
        }
        .navbar-collapse {
            width: 100%;
            .navbar-nav {
                float: none !important;
                clear: both;
                width: auto;
                margin-right: 0 !important;
                padding-right: 0;
                .nav-item {
                    display: block;
                    float: none !important;
                    .nav-link {
                        padding-bottom: 3px;
                        display: block;
                    }
                }
                .divider {
                    margin-top: 100px;
                    float: none !important;

                    @media screen and (max-height: 640px) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991.9px) and (min-width: 768px) {
    #sideNav {
        transition: none;
        padding-top: 0;
        height: 110px;
        .navbar-header {
            height: 100%;
        }
        .navbar-brand {
            height: 100%;
            .img-profile {
                height: 100%;
            }
        }
        .navbar-collapse {
            height: 100% !important;
            .navbar-nav {
                height: 100%;
                .nav-item {
                    height: 100%;
                    .nav-link {
                        height: 100%;
                    }
                    .nav-link::before {
                        content: "";
                        display: inline-block;
                        width: 1px;
                        height: 100%;
                        vertical-align: middle;
                    }
                }
                .nav-item:hover {
                    background-color: #86a9b5;
                }
                .nav-item-icon {
                    .icon-nav-label {
                        position: absolute;
                        display: none;
                    }
                    .nav-link {
                        padding: 0;
                        .fa {
                            border-radius: 50%;
                            padding: .5em;
                            width: 2em;
                            height: 2em;
                            text-align: center;
                        }
                    }
                }
                .nav-item-icon.fake-link:hover {
                    background-color: transparent;
                    .nav-link .fa {
                        background-color: #86a9b5;
                    }
                    .icon-nav-label {
                        display: block;
                        background-color: #86a9b5;
                        white-space: nowrap;
                        vertical-align: middle;
                        word-break: normal;
                        right: 0px;
                        top: 0;
                        height: 100%;
                        padding: 0 100px;
                        animation: openNavLink 200ms ease;
                        transform-origin: right center;
                    }
                    .icon-nav-label::before {
                        content: "";
                        display: inline-block;
                        width: 1px;
                        height: 100%;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

@keyframes openNavLink {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@media screen and (max-width: 767.9px) {
    #sideNav {
        transition: none;
        padding-top: 0;
        height: auto !important;
        // span.icon-nav-label {
        //     display: none;
        // }
        // li.nav-item.nav-item-icon {
        //     display: inline-block;
        // }
        .navbar-collapse .navbar-nav {
            text-align: center;
            padding-right: 0;
        }
        .divider {
            border-top: 0.5px solid #e7e7e7;
        }
    }
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 400px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ddd;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: $primary;
}