<footer class="container-fluid">
    <div class="container">
        <div class="row footer-header">
            <div class="col-xs-12">
                <img class="img-responsive" style="margin: auto" width="200" src="/assets/img/logo-sm-white.png"
                    alt="Klein logo">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-6">
                <div class="lead">Pagina's</div>
                <ul>
                {% for link in site.data.pages %}
                    <li>
                        <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col col-xs-6 footer-social">
                <div class="lead">Contact</div>
                <p>
                    <b>Bellen</b>
                    <br>
                    <a title="Bellen" href="tel:{{ site.telefoon }}">{{ site.telefoon }}</a>
                </p>
                <p>
                    <b>Email</b>
                    <br>
                    <a title="Mailen" href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>

                {% include social.html %}
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="copyright">&copy; ienze koekkoek - Verstaat {{ 'now' | date: "%Y" }}
                    Alle rechten voorbehouden.</div>
            </div>
        </div>
    </div>
</footer>

<div id="sharing-sidetip">
    <span class="glyphicon glyphicon-share-alt"></span>
    <div class="sharing-sidetip-title">
        Delen
    </div>
    <div class="sharing">
        {% include share.html %}
    </div>
</div>

<div class="cookie-disclaimer js-cookie-disclaimer" style="transform: translateY(100%)">

    <div class="media media--center">

        <div class="media__object media__object--right">
            <button class="button">OK</button>
        </div>

        <div class="media__body">
            <p>
                {{ site.cookie_text }}.
                <a href="/privacy">Bekijk de privacy verklaring</a>.
            </p>
        </div>
    </div>
</div>