<footer class="container-fluid" itemscope itemtype="http://schema.org/WPFooter">
    <div class="container">
        <div class="row footer-header">
            <div class="col-xs-12">
                <img class="img-responsive" width="180" src="/uploads/logo_with_shadow.png"
                    alt="Klein logo">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-6">
                <div class="lead">Pagina's</div>
                <ul>
                {% for link in site.data.footer.pages %}
                    <li>
                        <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col col-xs-6 footer-social">
                <div class="lead">Contact</div>
                <p>
                    <b>Bellen</b>
                    <br>
                    <a title="Bellen" data-href="tel:{{ site.telefoon }}">{{ site.telefoon }}</a>
                </p>
                <p>
                    <b>Email</b>
                    <br>
                    <a title="Mailen" data-href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>

                {% include social.html %}
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="copyright">&copy; <span itemprop="copyrightYear">{{ 'now' | date: "%Y" }}</span> ienze koekkoek - Verstaat 
                    Alle rechten voorbehouden.</div>
            </div>
        </div>
    </div>
</footer>

<div id="sharing-sidetip">
    <span class="glyphicon glyphicon-share-alt"></span>
    <div class="sharing-sidetip-title">
        Delen
    </div>
    <div class="sharing">
        {% include share.html %}
    </div>
</div>
{% comment %}
<div class="cookie-disclaimer js-cookie-disclaimer">

    <div class="media media--center">

        <div class="media__object media__object--right">
            <button class="button">OK</button>
        </div>

        <div class="media__body">
            <p>
                {{ site.cookie_text }}.
                <a href="/privacy">Bekijk de privacy verklaring</a>.
            </p>
        </div>
    </div>
</div>
{% endcomment %}
<script src="/assets/vendor/bootstrap-native.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/js/main.js"></script>
