---
layout: page
---
{{ content }}

<div class="container-fluid" id="contact">
    <div class="sub-page">
        <h1>Contact</h1>
    </div>
    <div class="row">
        <a class="col col-xs-6" title="Bellen" href="tel:0612345678">
            <div class="contact-block">
                <div class="fa fa-phone"></div>
                Bellen
            </div>
        </a>
        <a class="col col-xs-6" title="Mailen" href="mailto:i.koekkoek@ikverstaat.nl">
            <div class="contact-block">
                <div class="fa fa-envelope"></div>
                Stuur een mailtje
            </div>
        </a>
    </div>
    <p style="margin-top: 20px;">
        Of neem contact op via social media...
    </p>
</div>