---
layout: page
---
{{ content }}

<div class="container-fluid" id="contact">
    <div class="row">
        <div class="padding-top-special">
            <h1 class="color-white">Contact</h1>
        </div>
        <a class="col col-sm-6 col-xs-12" title="Bellen" href="tel:0612345678">
            <div class="contact-block">
                <div class="fa fa-phone"></div>
                Bellen
            </div>
        </a>
        <a class="col col-sm-6 col-xs-12" title="Mailen" href="mailto:i.koekkoek@ikverstaat.nl">
            <div class="contact-block">
                <div class="fa fa-envelope"></div>
                Stuur een mailtje
            </div>
        </a>
        <div class="col-xs-12 or-contact-us-via-social-media" data-aos="fade-left">
            <p style="margin-top: 20px; color: #fff">
                Of neem contact op via social media...
            </p>
            {% include social.html %}
        </div>
    </div>
</div>