---
layout: default
---
<main>
    <section id="projecten">
        <div class="projecten-banner" style="background-image: url('{{ page.banner }}')">
            <div class="container">
                <h1 class="padding-top-special">{{ page.title }}</h1>
                <p class="description lead">{{ page.description }}</p>
            </div>
        </div>

        <div class="content container text-justify">
            {{ content }}
        </div>
        <div style="padding-top: 50px"></div>
    </section>
</main>