---
layout: default
---
<main>
    <section id="projecten">
        <div class="projecten-banner" style="background-image: url('{{ page.banner }}')">
            <div class="container">
                <h1 class="padding-top-special">{{ page.title }}</h1>
                <p class="description lead">{{ page.description }}</p>
            </div>
        </div>

        <div class="content container text-justify">
            <div class="row">
                {% for project in page.projects_list %}
                <div class="projects-list">
                    <div class="col-xs-12 project-header">
                        <h3 class="project-title">{{ project.title }}</h3>
                        {% if project.image and project.image != '' %}
                        <img class="project-image" title="{{ project.title }}" src="{{ project.image }}"
                            alt="Ervaring icoontje">
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="project-short-description">{{ project.short_description | markdownify }}</div>
                        {% if project.long_description and project.long_description != "" %}
                        <div class="project-long-description" aria-hidden="true" style="display: none;"
                            id="project-hook-{{ forloop.index }}">

                            {{ project.long_description | markdownify }}
                        </div>
                        <button type="button" aria-expanded="false" class="btn btn-primary project-btn"
                            aria-controls="project-hook-{{ forloop.index }}">Lees meer</button>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <hr role="separator">
        </hr>

        <div class="content container text-justify">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    {{ content }}
                </div>
            </div>
        </div>
        <div style="padding-top: 50px"></div>
    </section>
</main>